<h1>Hello,dear movie buff - <%= @reviewer.name %>!</h1>
<h2> Movies coming out this week : </br> </h2>
  <% @movies.each do |movie| %>
    <p> <%= movie[:name] %> - <%= movie[:release_date] %> </br> </p>
  <% end %>
<h3>Pleasant viewing!</h3>
